<h2>{{alcohol.name}}</h2>

<div id="details">
<p>Description: {{alcohol.description}}</p>
<p>Rating: {{alcohol.rating}}/10</p>
<p>Percentage: {{alcohol.percentage}}%</p>
</div>

<a href="/alcohol">Back</a>