<p class="logo"><a href="/"> 🍺 </a></p>

<form id="logout-form" action="/logout" method="POST">
    <button class="logout-button">Logout</button>
</form>

<div class="details-container">

<h2>{{alcohol.name}}</h2>

<hr>

<p><span class="details">Description:</span> {{alcohol.description}}</p>
<p><span class="details">Rating:</span> {{alcohol.rating}}/10</p>
<p><span class="details">Alcohol Percentage:</span> {{alcohol.percentage}}</p>

<hr>

<a href="/alcohol">Back</a>

</div>