<h2 class="mt-5 text-2xl font-bold">{{alcohol.name}}</h2>

<hr class="mt-5">

<p><span class="detailsList">Description:</span> {{alcohol.description}}</p>
<p><span class="detailsList">Rating:</span> {{alcohol.rating}}/10</p>
<p><span class="detailsList">Percentage:</span> {{alcohol.percentage}}%</p>

<hr class="mt-5">

<a href="/lists/all-drinks">Back</a>