<h2>{{alcohol.name}}</h2>

<hr>

<p><span class="details">Description:</span> {{alcohol.description}}</p>
<p><span class="details">Rating:</span> {{alcohol.rating}}/10</p>
<p><span class="details">Percentage:</span> {{alcohol.percentage}}%</p>

<hr>

<a href="/alcohol">Back</a>