<form id="logout-form" action="/logout" method="POST">
    <button class="logout-button">Logout</button>
</form>

<div class="container">
  {{#if userInSession}}
    <h4 id="welcome">Welcome, {{ userInSession.username }}!</h4>

    <ul>
      <li><a href="/alcohol/create">Add Drink</a></li>
      <li><a href="/alcohol">Drinks List</a></li>
    </ul>

  {{else}}
    <p>Still no logged in user, sorry!</p>
  {{/if}}
</div>